__pycache__
.vscode
samples
xformers
src
third_party
backup
pretrained_models
*.nfs*
./*.png
./*.mp4
demo/tmp
demo/outputs

venv/
errot.txt
usage.txt
triton-2.0.0-cp310-cp310-win_amd64.whl
samples/
sd-vae-ft-mse/
stable-diffusion-v1-5/
magicanimate/appearance_encoder
magicanimate/densepose_controlnet
magicanimate/temporal_attention